html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo-img {
  height: 70px;
}
section {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: row;
  padding: 14px 10px;
  gap: 10px;
  align-items: center;
}
.user-info h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 800;
}

.user-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #555;
}

.post-img {
  width: 100%;
  height: auto;
}

.actions {
  display: flex;
  gap: 12px;
  padding: 8px 10px;
}

.actions img {
  height: 24px;
  width: 24px;
}

.likes {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.comment {
  padding: 10px;
  font-size: 14px;
  color: #555;
  margin: 0;
}

.comment span {
  font-weight: 600;
  color: #000;
}
